<div  class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1" *ngFor="let proyecto of lista">
            <h1>{{proyecto.tituloProyecto}}</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt quas est nostrum molestias voluptatum aliquam minima numquam quo modi voluptatem, qui beatae vero rem blanditiis! Rem, ipsam. Rerum, accusamus. Sed?</p>
       </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="" alt=""  class="img-fluid img-proyecto">
        </div>

    </div>
</div>
