.row{
    padding: 20px;
    }
.contenedor{
    width: auto;
}
.img-fluid{
  float: left;
  height: 200px;
  width: 600px;
  border-radius: 10%;

}
.lapizProyecto2{
  position: absolute;
  left: 270px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  background-color: rgb(243, 250, 241);
  color: rgb(8, 5, 5);
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}
.btn{
  margin-left: 1050px;
  border: groove;
  background-color: darkcyan;
}
h1{
  text-transform: uppercase;
}
