<div class="container">
  <div class="row">
     <div class="col">
      <label for="sobreMi"> Sobre Mi </label>
      <textarea type="text" id="sobreMi" name="sobreMi" [(ngModel)]="editSobremi.sobreMi"></textarea>
      <button type="button" class="btn btn-primary" (click)="modificarSobremi()"> Actualizar </button>
     </div>
     <div class="col">
      <label for="sobreMi1"> Agregar </label>
      <textarea type="text" id="sobreMi1" name="sobreMi" [(ngModel)]="nuevoAcercade.sobreMi"></textarea>
      <button type="button" class="btn btn-primary" (click)="agregarAcercade()"> Agregar </button>
     </div>

  </div>

</div>
