.row{
    padding: 20px;
    background-color: rgb(96, 146, 151);
}

h1, h3{
    display: inline;
    text-transform: uppercase;
}
.agre{
  position: absolute;
  left: 1160px;
  top: 1250px;
}
button{
  border: groove;
  background-color: darkcyan;
}
