<div class="row" >
    <div class="text-aling">
   <h1>Estudios Cursados</h1>

   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1" *ngIf="isAdmin">agregar educacion</button>
   <!-- Button trigger modal -->
   <!-- Modal -->
   <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel1">Agregar Educacion</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal"    aria-label="Close"></button>
         </div>
         <div class="modal-body">
         <form action="">
             <label for="nombreEducacion">Una educacion mas</label>
             <input type="text" id="nombreEducacion" name="nombreEducacion" [(ngModel)]="nuevaEducacion.nombreEducacion">
              <br>
             <label for="descEducacion">Descripcion</label>
             <input type="text" id="descEducacion" name="descEducacion" [(ngModel)]="nuevaEducacion.descEducacion">
         </form>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="agregarEducacion()">Guardar</button>
          </div>
         </div>
       </div>
   </div>

   </div>
   <div class="col-lg-1"></div>
   <div class="col-lg-11">
       <div *ngFor="let educacion of lista">
       <ul>
           <li>
           <h1>{{educacion.nombreEducacion}}</h1> - <h3>(años)</h3>

           <p>{{educacion.descEducacion}}
           </p>

           <button  class="btn btn-danger" (click)="eliminarEducacion(educacion.id)" *ngIf="isAdmin">Eliminar</button>
           <button class="btn btn-warning" [routerLink]="['/editeducacion/', educacion.id]" *ngIf="isAdmin">Editar</button>
        </ul>
        </div>
   </div>
