body{

  background-image: url(../../../assets/ima07.jpg);
  background-repeat: no-repeat;
  background-size: cover;


  padding-bottom: 625px;
  }

.container{
  width:400px ;
  padding-top: 20px;
  float: right;
}
