<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_cv.jpg" alt=""
        class="img-fluid" id="perfilfoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Aravena Matias</p>
        <p>Desarrollador Full Stack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Est libero aliquid labore
            reprehenderit eum, voluptatem quos hic quia
            molestiae distinctio explicabo alias fugit nemo?
            Eius quisquam voluptatem eaque nobis rem!</p>
        </span>
    </div>
</div>
