
.row{
    padding: 20px;
}


@media (min-width:576px){
.perfilfoto img{
     position: absolute;
     width: 15%;
     border-radius: 100%;
     box-shadow: 3px 3px 3px gray;
     left: 2%;
     top: 315px;

}}
/**@media (min-width: 998px ){
    #perfilfoto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top: 300px;
}}**/

@media (max-width:575px){
    .perfilfoto img{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 33%;
        top: 300px;
        }}
.lapiz2{
  position: absolute;
  left: 180px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  background-color: rgb(243, 250, 241);
  color: rgb(8, 5, 5);
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}
.lapiz3{
    position: absolute;
    left: 330px;
    top: 490px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    background-color: rgb(243, 250, 241);
    color: rgb(8, 5, 5);
    cursor: pointer;
    box-shadow: 3px 3px 3px gray;
}
.lapiz4{
  position: absolute;
  right: 70px;
  top:450px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  background-color: rgb(243, 250, 241);
  color: rgb(8, 5, 5);
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}
.cruz01{
  position: absolute;
  right: 39px;
  top: 450px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  background-color: rgb(243, 250, 241);
  color: rgb(8, 5, 5);
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}

h2{
  font-family: Verdana, sans-serif;
  left: 10px;
  margin-top: 62px;
  text-transform: uppercase;
  color: rgb(105, 105, 243);

}
h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  left: 10px;
  color: rgb(105, 105, 243);
}
.acertitu{
  text-transform: uppercase;
  margin-top: 46px;
}
