.row{
    padding: 20px;
}
div{
    background-color: rgb(101, 106, 238);
    text-align: center;
}
#nombre{
    font-weight: bold;
    margin-top: 10%;
    /**margin-left: 10px;**/
}
@media (min-width:576px){
.perfilfoto img{
     position: absolute;
     width: 15%;
     border-radius: 100%;
     box-shadow: 3px 3px 3px gray;
     left: 2%;
     top: 315px;
     
}}
/**@media (min-width: 998px ){
    #perfilfoto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top: 300px;
}}**/

@media (max-width:575px){
    .perfilfoto img{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 33%;
        top: 300px;
        }

    }

