<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
            <h1>Trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quisquam dicta adipisci doloremque quibusdam at nihil? Enim architecto veniam incidunt. Blanditiis maiores, nihil ipsam temporibus officia natus eveniet tenetur reiciendis
            </p>
        </ul>
        <ul>
            <li>
            <h1>Trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quisquam dicta adipisci doloremque quibusdam at nihil? Enim architecto veniam incidunt. Blanditiis maiores, nihil ipsam temporibus officia natus eveniet tenetur reiciendis
            </p>
        </ul>
        <ul>
            <li>
            <h1>Trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quisquam dicta adipisci doloremque quibusdam at nihil? Enim architecto veniam incidunt. Blanditiis maiores, nihil ipsam temporibus officia natus eveniet tenetur reiciendis
            </p>
        </ul>
    </div>
</div>