::before,
:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row{
    padding: 20px;
    background-color: rgb(183, 203, 204);
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

