#logoAP{
    width: 150px;
}
img{
    width: 30px;
    padding-right: 8px;
}

.container{
    display: flex;
    justify-content: space-between;
}
.redes{
    margin-top: 5px;
    margin-right: 7px;
}
  


