<div class="row">
   <div class="container">
       <div class="logo">
             <img src="../../../assets/APLogo.png" alt="" id="logoAP" >
       </div>

       <div class="redes">
       <a href="https://www.facebook.com/Maatyaz" *ngIf="isLogged">
           <img src="../../../assets/facebook.png" alt="" id="Facebook">
        </a>
        <a href="https://twitter.com/matthu_chequero"  *ngIf="isLogged">
            <img src="../../../assets/twitter.png" alt="" id="Twitter">
        </a>
        <a href="https://www.instagram.com/matthu_chequero/" *ngIf="isLogged">
            <img src="../../../assets/instagram.png" alt="" id="Instagram">
        </a>
        <a href="https://www.linkedin.com/in/matias-aravena-0059b3208/" *ngIf="isLogged">
            <img src="../../../assets/linkedin.png" alt="" id="Linkedin">
        </a>
        <a href="https://github.com/matthias-aravena" *ngIf="isLogged">
            <img src="../../../assets/github.png" alt="" id="Github">
        </a>
        <button type="button" class="btn btn-outline-light" *ngIf="!isLogged" routerLink="/login">Entrar</button>

        <button class="btn btn-outline-light" *ngIf="isLogged" (click)="onLogOut()" routerLink="/login">Cerrar Sesion</button>
      </div>
  </div>
</div>


